<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    written by Michael Hartl and consumed by James Liang(thanks Mike!)
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li> 
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News(links to railstutorial.org)</a></li>
    </ul>
  </nav>
</footer>